# by default
@teletrace/teletrace-maintainers

# specific files
README.md  @teletrace/teletrace-admins
LICENSE  @haimrait
CONTRIBUTING.md  @teletrace/teletrace-admins
CODE_OF_CONDUCT.md  @haimrait
.github/CODEOWNERS @haimrait

# Specific directories
website/ @teletrace/teletrace-admins

# Exporters
teletrace-otelcol/exporter/elasticsearchexporter/ @teletrace/teletrace-admins
teletrace-otelcol/exporter/sqliteexporter/ @teletrace/teletrace-admins
