/*overwrite reactflow classes*/

.react-flow__controls-button {
  width: 100% !important;
  height: 35px !important;
  background: #2b2d32 !important;
  border-bottom: 1px solid #3b3c42 !important;
}

.react-flow__controls-button:hover {
  background: #3b3c42 !important;
}

.react-flow__panel > .react-flow__controls-button:first-child {
  border-radius: 8px 8px 0 0 !important;
}

.react-flow__panel > .react-flow__controls-button:last-child {
  border-radius: 0 0 8px 8px !important;
}

.react-flow__controls-button svg {
  max-width: 60% !important;
  max-height: 60% !important;
}

.react-flow__panel.bottom.left {
  margin-bottom: 30px !important;
}
