.edge-label-container {
  position: absolute;
  pointer-events: all;
  background: #1e1e1e;
}

.time-container {
  color: #ffffff;
  margin-left: -5px;
}

.counter-container {
  box-sizing: border-box;
  background: #3b3c42;
  border: 1px solid #96979e;
  border-radius: 2px;
  position: absolute;
}

.counter-container > span {
  margin: 5px;
}
